.contact {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.section-title {
  font-size: 2rem;
  font-weight: 700;
}
.contact-container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0rem;
}
.contact-left {
  max-width: 60%;
  font-size: 1.25rem;
  text-align: center;
}
.download {
  background-color: aquamarine;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
}
.download a {
  text-decoration: none;
  color: #000;
}

@media only screen and (max-width: 720px) {
  .contact-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact-left {
    max-width: 100%;
    font-size: 1rem;
    margin-bottom: 0.75rem;
  }
  .download {
    font-size: 1rem;
  }
}
