.work-card {
  padding: 0.5rem;
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}
.work-logo {
  height: 5rem;
  width: 10rem;
}
.work-info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.work-dates {
  color: gray;
}
.work-desc {
  display: -webkit-box;
  text-align: left;
  -webkit-line-clamp: 2;
  -webkit-box-orient: horizontal;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-wrap: wrap;
  max-width: 80%;
}
